Byte-compiled / optimized / DLL filespycache/*.py[cod]*$py.classC extensions*.soDistribution / packaging.Pythonbuild/develop-eggs/dist/downloads/eggs/.eggs/lib/lib64/parts/sdist/var/wheels/*.egg-info/.installed.cfg*.eggMANIFESTPyInstallerUsually these files are written by a python script from a templatebefore PyInstaller builds the exe, so as to inject date/other infos into it.*.manifest*.specInstaller logspip-log.txtpip-delete-this-directory.txtUnit test / coverage reportshtmlcov/.tox/.coverage.coverage.*.cachenosetests.xmlcoverage.xml*.cover.hypothesis/.pytest_cache/Environments.env.venvenv/venv/ENV/env.bak/venv.bak/Modelsmodels/
